@tailwind base;
@tailwind components;
@tailwind utilities;
/* rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 */
@layer components{
  .btn {
    background-color: white;
    font: bolder;
    color:rgba(128, 128, 128, 0.900);
    border-radius: 5px;
    text-shadow: 15px;
    padding-top: 2.5px;
    padding-left: 1.5px;
  }
  .btn:hover{
    background-color: rgba(243, 236, 236, 0.5);
  }
}